{% extends 'hod_template/base_template.html' %}
<style>
        </style>

{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
        <div class="col-12">
         <div class="card">
           <div class="card-header">
             <h3 class="card-title"><b>Username: {{invoice.staff}}</b></h3>
            </div>
           </div>
          </div>
          </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Amount</th>
              <th scope="col">Pay Type</th>
              <th scope="col">Balance From Previous</th>
              <th scope="col">Total Paybale</th>
              <th scope="col">Total Paid To Staff</th>
              <th scope="col">Total Balance Left</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">{{invoice.amount}}</td>
              <td>{{invoice.pay_type}}</td>
              <td>{{invoice.balance}}</td>
              <td>{{invoice.total_amount_staff}}</td>
              <td>{{invoice.total_paid}}</td>
              <td>{{invoice.balance_left}}</td>
            </tr>
          </tbody>
        </table>
           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Payment Details</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Sr#</th>
                      <th>Amount</th>
                      <th>Date</th>
                      <th>Comment</th>


                    </tr>
                  </thead>
                  <tbody>
                  {% for history in payment_history %}
                    <tr>
                      <td>{{ history.id }}</td>
                      <td>{{ history.payment}}</td>
                      <td>{{ history.date}}</td>
                      <td>{{ history.comment }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
